@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    min-width: 1400px;
    margin: 0 auto;
    padding: 0 250px;
}

.story__left {
    max-width: 410px;
    margin-right: 60px;
}

.sotry__title {
    font-style: 20px;
}

.accent-color {
    color: #16ACE8;
}

.context-text {

}
.story__right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.story__item {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    padding: 15px;
    margin-right: 20px;
}
.story__item:nth-child(1) {
    background-image: url(../img/Bitmap.png);
}
.story__item:nth-child(2) {
    background-image: url(../img/Bitmap-2.png);
}
.story__item:nth-child(3) {
    background-image: url(../img/Bitmap-3.png);
    margin-right: 0;
}

.story__inner {
    display: flex;
}

.story__title_text {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: 18px;
    padding: 50px 0;
}
.story__title_text::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}


